:root {
  --primary: #3d5981;
  --text: #ffffff;
  --invert-text: #000000;
}

.backdrop {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  background-image: linear-gradient(#3d5981, #000);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-login {
  min-width: 350px;
  min-height: 450px;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  width: 150px;
  height: 150px;
  display: flex;
  align-self: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 135px;
  min-width: 250px;
}


.btn-submit {
  margin-bottom: 50px !important;
  width: 240px;
}