.Form {
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;


}

.Form .ant-form-item {
  margin-bottom: 15px;
}


.Form .ant-input {
  width: 100%;
}

.Form .ant-btn {
  width: 100%;
}

.Form .ant-input::placeholder {
  color: #999;
}

.Form .ant-btn::placeholder {
  color: #fff;
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card {
  width: 80%;
  margin-block: 20px;
}

.product-card .ant-card-body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card .actions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  width: 15%;
}

.product-card .info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  width: 70%;
  flex-wrap: wrap;
}

.header {
  color: #fff;
  background-color: #0d1532;
  width: 30%;
  align-self: center;
  position: fixed;
  margin: 0;
  z-index: 9;
  top: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image {
  width: 120px;
}

.image img {
  width: 100px;
  border-radius: 10px;

}